@import "../../styles/variables";

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.globe{
  margin-top: 5px;
  fill: $sub-color;
  &:hover{
    fill:$text-color;
  }
}

.language{
  text-align: end;
}
