@import "../../styles/variables";
.home{
  display: flex;
  align-items: center;
  h1{
    cursor:pointer;
    margin-left: 5px;
  }
  img{
    cursor:pointer;

  }
}

.navList{
  display: flex;
  align-items: center;
  height: 100%;
  .listItem{
    cursor: pointer;
    svg{
      &:hover{
        fill: $text-color;
      }
    }
    .settings{
      margin-top: 3px;
    }
    .keyboard{
      margin-top: 5px;
    }
  }
}